@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .smooth {
    @apply transition-all delay-500 duration-500 ease-in-out;
  }
  .flex-center {
    @apply flex items-center flex-col justify-center;
  }
}

@font-face {
  font-family: "Roboto-bold";
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype"),
    url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto-medium";
  src: url("./assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "inter-Bold";
  src: url("./assets/fonts/Inter/static/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "inter-extrabold";
  src: url("./assets/fonts/Inter/static/Inter_18pt-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "inter-medium";
  src: url("./assets/fonts/Inter/static/Inter_18pt-Medium.ttf")
    format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "inter-regular";
  src: url("./assets/fonts/Inter/static/Inter_18pt-Regular.ttf")
    format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "inter-thin";
  src: url("./assets/fonts/Inter/static/Inter_18pt-Thin.ttf") format("truetype");
  font-weight: 300;
}

.logo__container{
  font-family: 'Roboto-bold';
}

body {
  font-family: "Roboto-Regular";
}

.inter-b {
  font-family: "inter-Bold";
}

.inter-eb {
  font-family: "inter-extrabold";
}
.inter-md {
  font-family: "inter-medium";
}
.inter-rg {
  font-family: "inter-regular";
}
.inter-th {
  font-family: "inter-thin";
}

::-webkit-scrollbar {
  width: 1px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 1px;
}

video {
  height: auto;
  width: 100%;
}

.backdrop-bg {
  background-color: rgba(239, 68, 68, 0.2);
}

.grid-cat {
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.z-xl {
  z-index: 9999999;
}
.z-lg {
  z-index: 99999;
}
.z-md {
  z-index: 999;
}
.z-sm {
  z-index: 99;
}
